header .back_logo{
    display: flex;
}

header .fa-arrow-left{
    font-size: 20px;
    margin: 15px 0 0 22px;
}

.header_logo1{
    width: 160px;
    margin: 10px 70px;
}

.header_logo2{
    width: 160px;
    margin: 10px 36px;
}

.header_img_french2{
    background-image: url("images/restaurants/french2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 222px;
}

.header_img_gout2{
    background-image: url("images/restaurants/gout2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 222px;
}

.header_img_enchantee2{
    background-image: url("images/restaurants/enchantee2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 222px;
}

.header_img_sens2{
    background-image: url("images/restaurants/sens2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 222px;
}


.header_localization{
    display: flex;
    align-items: baseline;
    background: rgb(230, 230, 230);
    border-top: solid 3px rgb(209, 209, 209);
    padding-left: 80px;
        .fa-map-marker-alt{
            font-size: 15px;
            margin-right: 18px;
        } 
        p{
            font-size: 14px;
            font-weight: 600;
        }
}

.header_top_info{
    background: rgb(240, 240, 240);
    padding-bottom: 40px;
}

.header_bot_info p{
    margin: 0;
}

#header_top_title{
    font-size: 20px;
    font-weight: 700;
    width: 64%;
    padding: 35px 0 15px 55px;
    text-align: center;
}

#header_bot_title{
    color: rgb(119, 119, 119);
    font-weight: 500;
    width: 92%;
    padding: 0 0 14px 20px;
    text-align: center;
}

/* Responsive */

@media screen and (min-width: 375px) and (max-width: 424px){

/* index.html */
.header_logo1{
    margin: 10px 104px;
}

.header_localization{
    padding-left: 114px;
}

/* Les pages restaurants */
header .back_logo{
    margin-left: 20px;
}
}

@media screen and (min-width: 425px) and (max-width: 767px){
    
/* index.html */
.header_logo1{
    margin: 10px 120px;
}

.header_localization{
    padding-left: 130px;
}

#header_top_title{
    width: 78%;
    padding: 35px 0 15px 50px;
}

/* Les pages restaurants */
header .back_logo{
    margin-left: 64px;
}
}

@media screen and (min-width: 768px) and (max-width: 1023px){

/* index.html */
.header_logo1{
    width: 214px;
    margin: 10px 268px;
}

.header_localization .fa-map-marker-alt{
    font-size: 17px; 
}

.header_localization p{
    font-size: 16px;
}

.header_localization{
    padding-left: 296px;
}

#header_top_title{
    padding: 35px 0 15px 136px;
}

/* Les pages restaurants */
header .back_logo{
    margin-left: 236px;
}
}

@media screen and (min-width: 1024px) and (max-width: 1439px){

/* index.html */
.header_logo1{
    width: 300px;
    margin: 10px 340px;
}

.header_localization .fa-map-marker-alt{
    font-size: 28px;
}

.header_localization p{
    font-size: 22px;
}

.header_localization{
    padding-left: 380px;
}

#header_top_title {
    font-size: 28px;
    padding: 35px 0 15px 164px;
}

#header_bot_title{
    font-size: 20px;
}
}