#nav_title{
    font-size: 20px;
    font-weight: 600;
    margin: 35px 0 20px 12px;
}

nav .item{
    display: flex;
    align-items: baseline;
    background: rgb(243, 243, 243);
    border-radius: 20px;
    margin: 0 0 25px 18px;
    padding: 6px 0 4px 0px;
    width: 90%;
    box-shadow: 3px 3px 10px 1px rgb(212, 212, 212);
        &:hover{
        background: #ebe0ec;
        box-shadow: 10px 10px 10px 1px rgb(212, 212, 212);
    }  
}

nav .number{
    margin-left: -13px;
    background: $primary;
    color: white;
    font-size: 13px;
    width: 17px;
    height: 17px;
    border-radius: 50%;    
    padding: 5px 2px 5px 10px;
}

nav .item:hover .item_ico1{
    color:$primary;
}

nav .item:hover .item_ico2{
    color:$primary;
}

nav .item:hover .item_ico3{
    color:$primary;
}

nav .item_ico1{
    font-size: 18px;
    color: grey;
    margin: 0 22px 0 24px; 
}

nav .item_ico2{
    font-size: 16px;
    color: grey;
    margin: 0 20px 0 22px; 
}

nav .item_ico3{
    font-size: 14px;
    color: grey;
    margin: 0 20px 0 22px; 
}

nav .choice{
    font-size: 14px;
    font-weight: 600;
}

/* Responsive */

@media screen and (min-width: 768px) and (max-width: 1023px){

#nav_title{
    font-size: 20px;
    margin: 35px 0 20px 292px;
}

nav .item{
    margin: 0 0 25px 148px;
    padding: 6px 0 4px 82px;
    width: 46%;
}
}

@media screen and (min-width: 1024px) and (max-width: 1439px){

#nav_title {
    font-size: 24px;
}

nav .item_ico1 {
    font-size: 22px;
}

nav .item_ico2 {
    font-size: 20px;
}

nav .item_ico3 {
    font-size: 18px;
}

nav .choice {
    font-size: 20px;
}
}