/* Explorer nos restaurants */

#header_button{
    display: flex;
    justify-content: center;
    background: linear-gradient($secondary, $primary);
    box-shadow:  5px 5px 10px 1px rgb(161, 161, 161);
    color: white;
    border-radius: 50px;
    width: 56%;
    padding: 12px 16px 12px 16px;
        &:hover{
            background: linear-gradient( #fd8bdd 20%, #9667cf 100%); 
            box-shadow:  10px 10px 10px 1px rgb(161, 161, 161);
        }
}

/* Commander */

.order_button{
    display: flex;
    justify-content: center;
    background: linear-gradient($secondary, $primary);
    box-shadow:  5px 5px 10px 1px rgb(161, 161, 161);
    color: white;
    border-radius: 50px;
    width: 36%;
    padding: 12px 16px 12px 16px;
    margin: 50px 0 60px 26%;
    &:hover{
        background: linear-gradient( #fd8bdd 20%, #9667cf 100%); 
        box-shadow:  10px 10px 10px 1px rgb(161, 161, 161);
    }
}

/* Responsive */

@media screen and (min-width: 426px) and (max-width: 640px){

#header_button{
    width: 46%;
}
}

@media screen and (min-width: 641px) and (max-width: 800px){


#header_button{
    width: 30%;
}

.order_button{
    width: 28%;
    margin-left: 32%;
}
}

@media screen and (min-width: 801px) and (max-width: 1024px){

#header_button{
    width: 26%;
}

.order_button{
    width: 26%;
    margin-left: 34%;
}
}

@media screen and (min-width: 1025px) and (max-width: 1200px){
 
#header_button{
    width: 24%;
}

.order_button{
    width: 20%;
    margin-left: 38%;
}
}

@media screen and (min-width: 1201px) and (max-width: 1440px){
 
#header_button{
    width: 20%;
}

.order_button{
    width: 20%;
    margin-left: 40%;
}
}

@media screen and (min-width: 1441px) and (max-width: 1641px){
  
#header_button{
    width: 16%;
}

.order_button{
    width: 16%;
    margin-left: 40%;
}
}

@media screen and (min-width: 1642px) and (max-width: 1920px){

#header_button {
    width: 12%;
}

.order_button{
    width: 16%;
    margin-left: 40%;
}
}
    
